environment  = "dev"
aws_region   = "us-east-2"

snowflake_account_name = "account_name"
snowflake_organization_name = "organization_name"
snowflake_role = "role"
snowflake_user = "user"
snowflake_warehouse = "COMPUTE_WH"


snowflake_external_id        = "external_id"
snowflake_aws_principal_arn  = "arn:aws:iam::principal_arn"

alert_emails = ["alerts@email.com"]

db_base_name = "ANALYTICS"

schemas = ["SALES", "MARKETING", "MASTER", "UTILITIES", "SECURE_DETROIT", "SECURE_NASHVILLE", "ML"]

audit_columns = [
  {
    field_name = "CREATED_AT"
    data_type  = "TIMESTAMP_LTZ(9)"
    nullable   = false
    default    = "CURRENT_TIMESTAMP()"
  },
  {
    field_name = "CREATED_BY"
    data_type  = "VARCHAR"
    nullable   = false
    default    = "CURRENT_USER()"
  },
  {
    field_name = "UPDATED_AT"
    data_type  = "TIMESTAMP_LTZ(9)"
    nullable   = true
    default    = null
  },
  {
    field_name = "UPDATED_BY"
    data_type  = "VARCHAR"
    nullable   = true
    default    = null
  }
]


tables = {

  load_audit = {
    table_name = "LOAD_AUDIT"
    schema_name = "UTILITIES"
    add_audit_columns = false
    add_stage_table = false
    change_tracking = false
    fields = {
      ORDER_ID = {
        field_name    = "LOAD_ID"
        data_type     = "VARCHAR"
        nullable      = false
        primary_key     = true
      }
      started_at = {
        field_name    = "STARTED_AT"
        data_type     = "TIMESTAMP_LTZ(9)"
        nullable      = true
        primary_key     = false
      }
      finished_at = {
        field_name    = "FINISHED_AT"
        data_type     = "TIMESTAMP_LTZ(9)"
        nullable      = true
        primary_key     = false
      }      
      TABLE_NAME = {
        field_name = "TABLE_NAME"
        data_type  = "VARCHAR"
        nullable   = true
        primary_key  = false
      }
      FILES = {
        field_name = "FILES"
        data_type  = "VARIANT"
        nullable   = true
        primary_key  = false
      }
      ROWS_COPIED = {
        field_name = "ROWS_COPIED"
        data_type  = "NUMBER(10,0)"
        nullable   = true
        primary_key  = false
      }
      ROWS_MERGED = {
        field_name = "ROWS_MERGED"
        data_type  = "NUMBER(10,0)"
        nullable   = true
        primary_key  = false
      }
      STATUS = {
        field_name = "STATUS"
        data_type  = "VARCHAR"
        nullable   = true
        primary_key  = false
      }
    }
  }

  orders = {
    table_name = "ORDERS"
    schema_name = "SALES"
    add_audit_columns = true
    add_stage_table = false
    change_tracking = true
    fields = {
      ORDER_ID = {
        field_name    = "ORDER_ID"
        data_type     = "NUMBER(38,0)"
        nullable      = false
        primary_key     = true
      }
      LOCATION = {
        field_name    = "LOCATION"
        data_type     = "VARCHAR"
        nullable      = true
        primary_key     = false
      }
      ORDER_DATE = {
        field_name    = "ORDER_DATE"
        data_type     = "DATE"
        nullable      = true
        primary_key     = false
      }
      AMOUNT = {
        field_name = "AMOUNT"
        data_type  = "NUMBER(10,2)"
        nullable   = true
        comment    = "Order amount"
        primary_key  = false
      }
      SRC_FILENAME = {
        field_name = "SRC_FILENAME"
        data_type  = "VARCHAR"
        nullable   = true
        default    = null
        primary_key  = false
      }

      SRC_ROW_NUMBER = {
        field_name = "SRC_ROW_NUMBER"
        data_type  = "NUMBER(38,0)"
        nullable   = true
        default    = null
        primary_key  = false
      }

      LOAD_ID = {
        field_name = "LOAD_ID"
        data_type  = "VARCHAR"
        nullable   = true
        default    = null
        primary_key  = false
      }

    }
  }

  order_items = {
    table_name = "ORDER_ITEMS"
    schema_name = "SALES"
    add_audit_columns = false
    add_stage_table = false
    change_tracking = true
    fields = {
      ORDER_ID = {
        field_name    = "ORDER_ID"
        data_type     = "NUMBER(38,0)"
        nullable      = false
        primary_key     = true
      }
      ITEM_ID = {
        field_name    = "ITEM_ID"
        data_type     = "NUMBER(38,0)"
        nullable      = false
        primary_key     = true
      }
      
      AMOUNT = {
        field_name = "AMOUNT"
        data_type  = "NUMBER(10,2)"
        nullable   = true
        comment    = "Order amount"
        primary_key  = false
      }
      SRC_FILENAME = {
        field_name = "SRC_FILENAME"
        data_type  = "VARCHAR"
        nullable   = true
        default    = null
        primary_key  = false
      }

      SRC_ROW_NUMBER = {
        field_name = "SRC_ROW_NUMBER"
        data_type  = "NUMBER(38,0)"
        nullable   = true
        default    = null
        primary_key  = false
      }

      LOAD_ID = {
        field_name = "LOAD_ID"
        data_type  = "VARCHAR"
        nullable   = true
        default    = null
        primary_key  = false
      }
    }
  }
  holidays = {
    table_name = "HOLIDAYS"
    schema_name = "MASTER"
    add_audit_columns = true
    add_stage_table = false
    change_tracking = true
    fields = {
      ID = {
        field_name    = "ID"
        data_type     = "INT"
        nullable      = false
        primary_key     = true
      }

      DATE = {
        field_name    = "DATE"
        data_type     = "DATE"
        nullable      = false
        primary_key     = false
      }
      HOLIDAY_NAME = {
        field_name    = "HOLIDAY_NAME"
        data_type     = "VARCHAR"
        nullable      = false
        primary_key     = false
      }
    }
  }

}

pipelines = {
  sales_orders = {
    schema_name    = "SALES"
    staging_schema = "SALES"
    source_bucket  = "alohadatafg"
    source_prefix  = "orders/"
    file_format    = { type = "CSV", delimiter = ",", skip_header = 1, field_optionally_enclosed_by = "\"", trim_space = true }
    target_table   = "ORDERS"
    staging_table  = "STG_ORDERS"
    merge_keys     = ["ORDER_ID"]
    cron_schedule = "0 5 * * 1 UTC"
    on_error       = "ABORT_STATEMENT"
    pattern         = ".*orders_.*\\.csv"

    procedure_name  = "SP_COPY_MERGE_ORDERS"
    procedure_lang  = "SQL"
    procedure_file  = "../../modules/pipelines/procs/SP_COPY_MERGE_ORDERS.sql"
  }

}


dynamic_tables = {
  ORDERS_DAILY = {
    table_name        = "ORDERS_DAILY"
    schema_name       = "SALES"
    target_lag        = "12 hours"
    warehouse         = "COMPUTE_WH"

    query             = "../../modules/dynamictables/queries/ORDERS_DAILY.sql"
    initialize        = "ON_CREATE"

    comment           = "Summarizes order activity by date"
  }
}


views =  {
  ORDERS_V_DETROIT = {
    schema     = "SECURE_DETROIT"
    name       = "ORDERS_V"
    is_secure  = true
    query      = "../../modules/views/queries/ORDERS_V_DETROIT.sql"
  }
  ORDERS_V_NASHVILLE = {
    schema     = "SECURE_NASHVILLE"
    name       = "ORDERS_V"
    is_secure  = true
    query      = "../../modules/views/queries/ORDERS_V_NASHVILLE.sql"
  }
}

shares =  {
  Detroit   = {
      schema = "SECURE_DETROIT"
      consumer_accounts = ["organizationid.accountid"]
  }
}

forecasts =  {
  SALES_FORECAST = {
    schema     = "ML"
    fcast_sql      = "../../modules/forecasts/fcast-sql/SALES_FORECAST.sql"
    
    historical_view = {
      view_name = "SALES_FOR_FORECAST_V"
      view_sql    = "../../modules/forecasts/view-sql/SALES_FOR_FORECAST_V.sql"
    }
    future_features_view = {
      view_name = "SALES_FUTURE_FEATURES_V"
      view_sql    = "../../modules/forecasts/view-sql/SALES_FUTURE_FEATURES_V.sql"
    }

    warehouse = "COMPUTE_WH"

    forecasting_periods = 30

    cron_schedule = "0 6 * * 1 UTC"
    forecast_results_table = "SALES_FORECAST_RESULT"
  }
}